<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.api.dao.TbRoleDAO">

    <sql id="TABLE">
        tb_role
    </sql>

    <sql id="QUERY_FIELDS">
        id, role_name
    </sql>

    <resultMap id="resultMap" type="com.shiro.api.model.TbRole">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
    </resultMap>

    <select id="getByIds" resultMap="resultMap">
        SELECT <include refid="QUERY_FIELDS"/>
        FROM <include refid="TABLE"/>
        WHERE id IN
        <foreach collection="roleIds" open="(" close=")" separator="," item="id">#{id}</foreach>
    </select>
</mapper>
